<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置日志 -->
        <!-- 指定 MyBatis 所用日志的具体实现, SLF4J\STDOUT_LOGGING\NO_LOGGING -->
        <setting name="logImpl" value="SLF4J"/>
        <!-- 指定 MyBatis 增加到日志名称的前缀,在日志文件中输出日志 -->
        <!-- <setting name="logPrefix" value="mapper."/> -->
        <!-- 驼峰匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 设置包扫描 -->
    <!-- <typeAliases>
        <package name="com.ljy.demo.entity"/>
    </typeAliases> -->

</configuration>